In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
%cd '/content/gdrive/MyDrive/Colab Notebooks/BigDat'

/content/gdrive/MyDrive/Colab Notebooks/BigDataAssignment3

In [ ]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import statsmodels.stats.api as sms
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
from math import ceil
import uuid
from statsmodels.stats.proportion import proportions_ztest
from statsmodels.stats.api import proportion_effectsize
from statsmodels.stats.power import zt_ind_solve_power

In [ ]:
# plt.style.use('seaborn-whitegrid')
# ft_new = {'family' : 'Helvetica',
#         'weight' : 'bold',
#         'size'   : 14}
# mpl.rc('font', **ft_new)
# effect_size = sms.proportion_effectsize(0.13, 0.15)

In [ ]:
# mpl.rc('font', **ft_new)
# effect_size = sms.proportion_effectsize(0.13, 0.15)

In [ ]:
# required_n = sms.NormalIndPower().solve_power(
#     effect_size,
#     power=0.8,
#     alpha=0.05,
#     ratio=1
#     )                                                  # Calculating sample size needed

# required_n = ceil(required_n)                          # Rounding up to next whole number

# print(required_n)

**1. Use Pandas to load the dataset into a dataframe df and display the first 10 rows of the dataframe.**

In [ ]:
df=pd.read_csv('/content/gdrive/MyDrive/Colab Notebooks/BigDataAssignment3/ab_data.csv')

In [ ]:
df.head(10)

   user_id                   timestamp      group landing_page  converted
0   851104  2017-01-21 22:11:48.556739    control     old_page          0
1   804228  2017-01-12 08:01:45.159739    control     old_page          0
2   661590  2017-01-11 16:55:06.154213  treatment     new_page          0
3   853541  2017-01-08 18:28:03.143765  treatment     new_page          0
4   864975  2017-01-21 01:52:26.210827    control     old_page          1
5   936923  2017-01-10 15:20:49.083499    control     old_page          0
6   679687  2017-01-19 03:26:46.940749  treatment     new_page          1
7   719014  2017-01-17 01:48:29.539573    control     old_page          0
8   817355  2017-01-04 17:58:08.979471  treatment     new_page          1
9   839785  2017-01-15 18:11:06.610965  treatment     new_page          1

**2. Display the number of entries and the data types of all the attributes in the dataframe.**

In [ ]:
# Total Number of entries
print("Number of Entries", df.shape)

# Display Num of Rows
print("Total Num of Rows : ", df.shape[0])

# Number of columns
print("Total Num of columns : ", df.shape[1])

Number of Entries (294478, 5)
Total Num of Rows :  294478
Total Num of columns :  5

In [ ]:
print("Display the number of entries and the data types of all the attributes in the dataframe  :")
print(df.info())

Display the number of entries and the data types of all the attributes in the dataframe  :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 294478 entries, 0 to 294477
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   user_id       294478 non-null  int64
 1   timestamp     294478 non-null  object
 2   group         294478 non-null  object
 3   landing_page  294478 non-null  object
 4   converted     294478 non-null  int64
dtypes: int64(2), object(3)
memory usage: 11.2+ MB
None

**3. Sort the rows based on the timestamp and display the first 10 rows.**

---

In [ ]:
print("Sorting rows based on the timestamp")
df.sort_values(by='timestamp')
print(df.head(10))

Sorting rows based on the timestamp
   user_id                   timestamp      group landing_page  converted
0   851104  2017-01-21 22:11:48.556739    control     old_page          0
1   804228  2017-01-12 08:01:45.159739    control     old_page          0
2   661590  2017-01-11 16:55:06.154213  treatment     new_page          0
3   853541  2017-01-08 18:28:03.143765  treatment     new_page          0
4   864975  2017-01-21 01:52:26.210827    control     old_page          1
5   936923  2017-01-10 15:20:49.083499    control     old_page          0
6   679687  2017-01-19 03:26:46.940749  treatment     new_page          1
7   719014  2017-01-17 01:48:29.539573    control     old_page          0
8   817355  2017-01-04 17:58:08.979471  treatment     new_page          1
9   839785  2017-01-15 18:11:06.610965  treatment     new_page          1

**4. Drop duplicate records with the same user_id by using drop_duplicates() except for the first encounter and print the number of records left . Note that the dataset is not clean and we need to do some preprocessing. Here we want to make sure that a user is not exposed to both versions of the page. We simplify the problem by considering the first impression of the page to a user, and ignoring if the user converts after two or more impressions. We also make sure that we do not have inconsistencies in the data where the user converts on one impression and then does not convert later, which makes no sense.**

In [ ]:
df.drop_duplicates(subset="user_id")

        user_id                   timestamp      group landing_page  converted
0        851104  2017-01-21 22:11:48.556739    control     old_page          0
1        804228  2017-01-12 08:01:45.159739    control     old_page          0
2        661590  2017-01-11 16:55:06.154213  treatment     new_page          0
3        853541  2017-01-08 18:28:03.143765  treatment     new_page          0
4        864975  2017-01-21 01:52:26.210827    control     old_page          1
...         ...                         ...        ...          ...        ...
294473   751197  2017-01-03 22:28:38.630509    control     old_page          0
294474   945152  2017-01-12 00:51:57.078372    control     old_page          0
294475   734608  2017-01-22 11:45:03.439544    control     old_page          0
294476   697314  2017-01-15 01:20:28.957438    control     old_page          0
294477   715931  2017-01-16 12:40:24.467417  treatment     new_page          0

[290584 rows x 5 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 294478 entries, 0 to 294477
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   user_id       294478 non-null  int64
 1   timestamp     294478 non-null  object
 2   group         294478 non-null  object
 3   landing_page  294478 non-null  object
 4   converted     294478 non-null  int64
dtypes: int64(2), object(3)
memory usage: 11.2+ MB

**5. Update the dataframe such that we only keep records that make sense. Namely, we want records where group='treatment' & landing_page='new_page' OR group='control' & landing_page='old_page'. Print the number of records left and display the first 10 rows. Note that because the dataset is not clean, basically we want to remove any records where there is a mismatch between group and landing_page which makes no sense, for example group='treatment' & landing_page='old_page' OR group='control' & landing_page='new_page'.**

In [ ]:
df_Keep_record = df[((df.group=='treatment') & (df.landing_page=='new_page')) | ((df.group=='control') & (df.landing_page=='old_page'))]

In [ ]:
print("Number of Record Left",df_Keep_record.shape)

Number of Record Left (290585, 5)

In [ ]:
df_Keep_record.head(10)

   user_id                   timestamp      group landing_page  converted
0   851104  2017-01-21 22:11:48.556739    control     old_page          0
1   804228  2017-01-12 08:01:45.159739    control     old_page          0
2   661590  2017-01-11 16:55:06.154213  treatment     new_page          0
3   853541  2017-01-08 18:28:03.143765  treatment     new_page          0
4   864975  2017-01-21 01:52:26.210827    control     old_page          1
5   936923  2017-01-10 15:20:49.083499    control     old_page          0
6   679687  2017-01-19 03:26:46.940749  treatment     new_page          1
7   719014  2017-01-17 01:48:29.539573    control     old_page          0
8   817355  2017-01-04 17:58:08.979471  treatment     new_page          1
9   839785  2017-01-15 18:11:06.610965  treatment     new_page          1

In [ ]:
# ## records where group= treatment & landing_page= new_page
# print('records where group= treatment & landing_page= new_page ')
# df_group=df[df['group'] == 'treatment'].sample(n=required_n, random_state=22)
# df_update=df[df['landing_page'] == 'new_page' ].sample(n=required_n, random_state=22)
# df_ct = pd.concat([df_group, df_update], axis=0)
# df_ct.reset_index(drop=True, inplace=True)
# df_ct

In [ ]:
# ## records where group= control & landing_page= old_page
# print('records where group= control & landing_page= old_page ')
# df_control=df[df['group'] == 'control'].sample(n=required_n, random_state=22)
# df_old=df[df['landing_page'] == 'old_page' ].sample(n=required_n, random_state=22)
# df_ct_old = pd.concat([df_control, df_old], axis=0)
# df_ct_old.reset_index(drop=True, inplace=True)
# df_ct_old

In [ ]:
# data_frame = pd.concat([df_ct, df_ct_old], axis=0)

In [ ]:
# print('Number of Record left', data_frame.shape)

In [ ]:
# print('Display the first 10 rows')
# data_frame.head(10)

**6.Drop the attribute landing_page as this is redundant with group and display the first 10 rows. At this point we should have a dataframe df that is clean and sorted in time.**

In [ ]:
num=df_Keep_record[((df_Keep_record['group'] == 'treatment') == (df_Keep_record['landing_page'] == 'new_page')) == False].shape[0]
num

0

In [ ]:
num1=df_Keep_record[((df_Keep_record['group'] == 'control') == (df_Keep_record['landing_page'] == 'old_page')) == False].shape[0]
num1

0

In [ ]:
df=df_Keep_record
df.head(10)

   user_id                   timestamp      group landing_page  converted
0   851104  2017-01-21 22:11:48.556739    control     old_page          0
1   804228  2017-01-12 08:01:45.159739    control     old_page          0
2   661590  2017-01-11 16:55:06.154213  treatment     new_page          0
3   853541  2017-01-08 18:28:03.143765  treatment     new_page          0
4   864975  2017-01-21 01:52:26.210827    control     old_page          1
5   936923  2017-01-10 15:20:49.083499    control     old_page          0
6   679687  2017-01-19 03:26:46.940749  treatment     new_page          1
7   719014  2017-01-17 01:48:29.539573    control     old_page          0
8   817355  2017-01-04 17:58:08.979471  treatment     new_page          1
9   839785  2017-01-15 18:11:06.610965  treatment     new_page          1

In [ ]:
# ## dropping the attribute redudant to records where group= treatment & landing_page= new_page
# num = df_ct[((df_ct['group']=='treatment') ==(df_ct['landing_page']=='new_page')) == False].index
# df_treat = df_ct.drop(num)

In [ ]:
# df_treat.head(10)

In [ ]:
# ## dropping the attribute redudant records where group= control & landing_page= old_page
# num1 = df_ct_old[((df_ct_old['group']=='control') ==(df_ct_old['landing_page']=='old_page')) == False].index
# df_control_old = df_ct_old.drop(num1)

In [ ]:
# df_control_old.head(10)

In [ ]:
# df=pd.concat([df_treat,df_control_old], axis=0)
# print('Display the first 10 rows')
# df.head(10)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 290585 entries, 0 to 294477
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   user_id       290585 non-null  int64
 1   timestamp     290585 non-null  object
 2   group         290585 non-null  object
 3   landing_page  290585 non-null  object
 4   converted     290585 non-null  int64
dtypes: int64(2), object(3)
memory usage: 13.3+ MB

**7. Split the dataframe into two dataframes: df1 - contains the first 100k records, and df2 - contains the rest. Display the first 10 rows for each dataframe. The goal is to simulate data that we have before and during/after the A/B testing**

In [ ]:
# splitting Dataframe into two dataframes
print('splitting Dataframe into two dataframes')
df1 = df.iloc[:100000,:]
df2 = df.iloc[100000:,:]
print("Shape of dataframe df1",df1.shape)
print("Shape of dataframe df2",df2.shape)

splitting Dataframe into two dataframes
Shape of dataframe df1 (100000, 5)
Shape of dataframe df2 (190585, 5)

In [ ]:
df1.head(10)

   user_id                   timestamp      group landing_page  converted
0   851104  2017-01-21 22:11:48.556739    control     old_page          0
1   804228  2017-01-12 08:01:45.159739    control     old_page          0
2   661590  2017-01-11 16:55:06.154213  treatment     new_page          0
3   853541  2017-01-08 18:28:03.143765  treatment     new_page          0
4   864975  2017-01-21 01:52:26.210827    control     old_page          1
5   936923  2017-01-10 15:20:49.083499    control     old_page          0
6   679687  2017-01-19 03:26:46.940749  treatment     new_page          1
7   719014  2017-01-17 01:48:29.539573    control     old_page          0
8   817355  2017-01-04 17:58:08.979471  treatment     new_page          1
9   839785  2017-01-15 18:11:06.610965  treatment     new_page          1

In [ ]:
df2.head()

        user_id                   timestamp      group landing_page  converted
101375   683719  2017-01-06 14:22:43.283066    control     old_page          0
101376   876231  2017-01-15 00:40:09.171709  treatment     new_page          0
101377   734659  2017-01-08 10:28:31.760593  treatment     new_page          1
101378   665577  2017-01-08 00:24:33.267308  treatment     new_page          0
101379   630176  2017-01-22 14:28:21.608896    control     old_page          0

**8. Create a new dataframe called df1_hist by keeping all records where the group='control'. Print the number of records left (all should have group = 'control') and display the first 10 rows. Here we make sure that before the A/B test there are no treatments.**

In [ ]:
df1_hist=df[df['group'] == 'control']
print("Number of record left",df1_hist.shape)
df1_hist.head(10)

Number of record left (145274, 5)

    user_id                   timestamp    group landing_page  converted
0    851104  2017-01-21 22:11:48.556739  control     old_page          0
1    804228  2017-01-12 08:01:45.159739  control     old_page          0
4    864975  2017-01-21 01:52:26.210827  control     old_page          1
5    936923  2017-01-10 15:20:49.083499  control     old_page          0
7    719014  2017-01-17 01:48:29.539573  control     old_page          0
15   644214  2017-01-22 02:05:21.719434  control     old_page          1
16   847721  2017-01-17 14:01:00.090575  control     old_page          0
18   650559  2017-01-24 11:55:51.084801  control     old_page          0
19   935734  2017-01-17 20:33:37.428378  control     old_page          0
25   746742  2017-01-23 11:38:29.592148  control     old_page          0

**9. Use df1_hist to calculate the current conversion rate CTR_old, round it to two decimals and print its value (should be a number between 0 and 1). Here we want to see what is our current CTR.**

In [ ]:
CTR_old = round((df1_hist['converted'].mean()), 2)
# CTR_old= round(df1_control,2)   # rounding upto two decimal place
print("Value of CTR_old = ",CTR_old)

Value of CTR_old =  0.12

**10. Create the CTR_desired by adding 0.03 to CTR_old and print the value.**

In [ ]:
CTR_desired = CTR_old+0.03
print('CTR_desired Value =',CTR_desired)

CTR_desired Value = 0.15

**11. Calculate the effect_size using proportion_effectsize, CTR_old, and CTR_desired. Print its value.**